.library {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: auto 1fr auto;
    border-radius: 10px;
    overflow-y: auto;
    color: white;

    & .title {
        grid-column: 1 / -1;

        position: sticky;
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        top: 0;
        background-color: #121212;
        z-index: 999;
        padding: 12px 12px 8px 22px;
        cursor: pointer;
        color: grey;
        transition: background-color 0.3s, color 0.3s;
        align-items: center;

        & p {
            font-weight: bold;
        }

        & .symbol {
            font-weight: bold;
            width: 40px;
            
            &::after {
                content: " "; /* Add a space as content */
                width: 5px; /* Adjust the space width as needed */
                display: inline-block;
            }
        }
        
        & .add-station-btn {
            grid-column: -1;

            font-size:  1em;
            border-radius: 50%;
            height: 1em;
            width: 1em;
            padding: 0.5em;
            
            &:hover {
                color: white;
                background-color: #1a1a1a;
            }
        }
        
    }

    & .content {
        grid-column: 2;

        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        margin: 0;
        padding: 0;
    }
}