.station-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    color: white;
    background-color: #121212;

    & .station-head {
        grid-area: 1 / 1 / 2 / -1;
        padding-top: 30px;

        display: grid;
        grid-template-columns: 21px minmax(100px, 233px) 1fr 21px;
        align-items: center;
        gap: 23px;
        padding-bottom: 19px;

        & .station-head-img-container {
            grid-column: 2;

            display: block;
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            margin-left: 3px;
            background: unset;
            border: 0;
            padding: 0;
            cursor: unset;
            border-radius: 10px;
            box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.3);

            & .station-head-img {
                height: 136%;
                width: 136%;
                object-fit: cover; /* Options: fill, contain, cover, none, scale-down */
                margin-top: -18.5%;
                margin-bottom: -18.5%;
            }
        }

        & .station-head-info {
            grid-column: 3;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            width: 100%;

            & .station-btn {
                cursor: pointer;
            }

            & .station-name {
                float: left;
                font-size: 3em;
                font-weight: 700;
                overflow: hidden;
                overflow-wrap: break-word;
                hyphens: manual;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                        line-clamp: 2; 
                -webkit-box-orient: vertical;
            }

            & .station-description {
                opacity: 0.7;
                overflow: hidden;   
                overflow-wrap: break-word;
                hyphens: manual;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                        line-clamp: 2; 
                -webkit-box-orient: vertical;
            }
        }
    }

    & .station-content-gradient {
        grid-area: 2 / 1 / -1 / -1;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0.3;
    }

    & .station-content {
        grid-area: 2 / 1 / 3 / -1;

        position: relative;
        display: grid;
        grid-template-columns: 22px 1fr 22px;
        grid-template-rows: auto auto 1fr auto;

        & .station-options {
            grid-column: 2;

            padding-top: 26px;
            display: grid;
            grid-template-columns: repeat(3, auto) 1fr auto;
            align-items: center;
    
            & .station-play-btn {
                width: 56px;
                height: 56px;
                border-radius: 50%; /* Make the button round */
                // background-color: black; /* Set the background color */
                // color: #1db954;
                background-color: #1db954;
                font-size: 56px; /* Set size of the icon */
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 3px;
    
                &:hover {
                    width: 58px;
                    height: 58px;
                    font-size: 58px;
                    margin: -1px -1px -1px 2px;
                }
            }
    
            & .station-like-btn {
                background-color: unset;
                border: 0;
                color: #909090;
                width: 42px;
                margin-left: 20px;
    
                
                &:hover {
                    width: 44px;
                    margin: -1px -1px -1px 19px;
                }
            }
    
            & .station-more-btn {
                position: relative;
    
                & .btn-more {
                    background-color: unset;
                    border: 0;
                    color: #909090;
                    font-size: 40px;
                    letter-spacing: 1px;
                    margin-left: 12px;
        
                    &:hover {
                        color: white;
                        font-size: 42px;
                        margin: -1px -1px -1px 11px;
                    }
        
                    & > * {
                        margin-top: -27px;
                    }

                    & .green {
                        color: #1db954;
                    }
                }
            }
    
            & .station-sort-btn {
                grid-column: -2 / -1;
                display: grid;
                grid-template-columns: auto auto;
                gap: 9px;
                background-color: unset;
                border: 0;
                color: #909090;
                margin-right: 3px;
    
                &:hover {
                    color: white;
                }
            }
        }
    
        & .station-content-layout {
            display: grid;
            grid-template-columns: 30px 1fr 125px;
            align-items: center;
            gap: 18px;
            margin-left: 4px;
    
            & .track-numder {
                justify-self: right;
            }
    
            & .track-time {
                grid-column: -2 / -1;
                text-align: center;
                margin-left: 13px;
            }
        }
    
        & .station-list {
            grid-column: 2;
    
            & .station-list-head {
                padding-top: 32px;
                grid-column: 1 / -1;
                color: #909090;
            }
    
            & .station-track-list { 
                list-style-type: none;
                padding-inline-start: 0;
    
                grid-column: 1 / -1;
            }
        }

        & .station-foot {
            grid-column: 2;
            
            min-height: 500px;
        }
    
        & .br {
            display: block;
            height: 1px;
            background-color: #303030;
            margin-top: 9px;
        }
    }

}