.home {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
  
    h1 {
      font-size: 40px;
      margin: 10px;
    }
  
    img {
      width: 500px;
    }

    .head-stations {
      padding: 11px;
      display: grid;
      grid-template-columns: repeat(3, minmax(198px, 1fr));
      gap: 8px;
    }
  }
  