.button-wrapper {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.action-button-wrapper {
    svg {
        width: 16px; /* Adjust the size of the SVG icon */
        height: 16px; /* Adjust the size of the SVG icon */
    }
}

.icon-wrapper {
    margin-right: 10px;
    svg {
        width: 24px;
        height: 24px;
    }
}
