.side-nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;

    div {
        display: flex;
        align-items: center;
        font-weight: bold;
        padding: 8px 12px;
        margin: 4px 0;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        color: grey;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            color: white;
        }
        span{
            display: flex;
            align-items: center;
            font-weight: bold;

            &.icon-wrapper { 
                width: 20px;
                height: 20px;
                margin-right: 10px;
                margin-left: 4px
            }            
        }
    }

    &.mini {
        div > *:not(:nth-child(1)) {
            opacity: 0;
        }
    }

    .active {
        color: white;
        font-weight: bold;
    }
}
  