.user-msg {
    background-color: lightgray;
    padding: 12px;
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: black;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    box-shadow: (0, 0, 0, 0.2) 0px 4px 12px 0px;

    &.success {
        background-color: white;
    }

    &.error {
        background-color: rgb(255, 240, 240);
    }

    &.tba {
        background-color: #3498db;
    }
}
