.app-header {
    background: #e91e63;
    color: white;

}

.app-header section.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header h1.logo {
    flex-grow: 1;
    font-weight: 600;
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
}

.app-header section.container>section {
    flex-grow: 1;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

nav a.active {
    font-weight: bold;
    color: #007bff;
}
