.category-row {
    h2 {
      margin-bottom: 10px;
    }
    .row {
      display: flex;
      overflow-x: auto;
  
      .station-preview {
        width: 200px;
        margin-right: 10px; // Add spacing between previews
      }
    }
  }
  
  .category-cube {
    width: 240px;
    height: 240px;
    position: relative;
  
    span {
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .cube-image {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%); // Center diagonally at the bottom right corner
    }
  }
  
  .category-results {
    h2 {
      margin-bottom: 10px;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 200px);
      grid-gap: 10px;
    }
  }
  