h2 {
  color: white;
  margin-bottom: 10px;
  text-align: left;
}

.category-row {
    h2:hover {
      text-decoration: underline;
    }
    .row {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(172px, 212px));
      gap: 10px;
      overflow: hidden;
  
      .station-preview {
        width: 100%;
        flex-shrink: 0;
      }

      grid-template-rows: auto;
      max-height: calc(256px + 10px); // Adjust for the row height and gap
      overflow: hidden;  
    }
  }
  
.category-cube {
  border-radius: 8px;
  width: 190px;
  height: 190px;
  position: relative;
  padding: 8px;
  overflow: hidden;

  h2 {
    margin-left: 10px;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
  }

  .cube-image {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 80px;
    height: 80px;  
    transform: rotate(20deg);
  }
}
  
.category-results {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 10px;
  }
}

.category-display{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.search-categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 10px;
}

// .search{
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
//   grid-gap: 20px;
// }
