.action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    height: 32px;
    margin-top: 1vh;

  
    .start-buttons {
      display: flex;
      align-items: center;
      gap: 1vh;
    }

    .email-action-buttons {
      display: flex;
      justify-content: flex-start;
      gap: 1vh;
      margin-left: 1vh;
    }
  
    .email-nav-buttons {
      display: flex;
      align-items: center;
      gap: 1vh;
      justify-content: flex-end;
      margin-left: auto;
    }
  }
   
  .email-action-buttons {
    & > button {
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 5px;
        font-size: 16px;
        position: relative;
        width: 32px;
        height: 32px;

        &:hover {
            &::after {
                content: attr(name);
                text-transform: capitalize; // Capitalize the title
                color: white; // White text
                background: rgba(0, 0, 0, 0.7); // Semi-transparent black background
                border-radius: 5px; // Rounded corners for title box
                position: absolute;
                top: 100%; // Position the title box under the button
                left: 50%;
                transform: translateX(-50%);
                padding: 5px 10px; // Adjust padding for better visuals
                font-size: 12px;
                white-space: nowrap;
                z-index: 2; // Ensure title box is above the grey circle
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%; // Full width of the button
                height: 100%; // Full height of the button
                background-color: rgba(128, 128, 128, 0.5); // Semi-transparent grey circle
                border-radius: 50%; // Make it a circle
                z-index: 1; // Below the title box
            }
        }
    }
}
  
  .divider {
    display: inline-block;
    margin: 0 10px;
    height: 32px;
    width: 2px;
    background-color: #ccc;
    vertical-align: middle;
  }
  