.email-compose-modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50vh; // Adjust width based on content size
    background: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.7);
    z-index: 1000;

    .modal-top-bar {
      display: flex;
      justify-items: space-around;
      padding-right: 10px; // Add padding to the right
      max-height: 40px;
      align-items: center;
      background-color: #f3f2fc;
      color: black;
      
      > span {
        display: flex;
        justify-content: flex-end;
        gap: 0;
      }
    }
  
    .modal-button {
      border: none;
      background: transparent;
      cursor: pointer;
      display: flex;
      font-size: 14px;
      color: #555;
      width: '2.5vh';
  
      &:hover {
        text-decoration: underline;
      }
  
      .fa-icon {
        font-size: 16px; // Adjust icon size if needed
      }
    }

    form {
      display: flex;
      flex-direction: column;
    }
  
    .MuiTextField-root {
      width: 100%;
      margin-bottom: 0px;
      font-size: 8px;
    }
  
    textarea {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 10px;
      font-size: 14px; // Typical font size for body
      box-sizing: border-box; // Include padding and border in the element's total width and height
      resize: none; // Disable resizing
      margin: 0;
    }
  
    button[type="submit"] {
      color: white;
      text-transform: none; // No uppercase
      border-radius: 4px;
      box-shadow: none; // No box-shadow for a flat design
      width: auto; // Button width based on content
      align-self: flex-end; // Align the send button to the right
      margin-top: 0;
  
      &:hover {
        background-color: #45a049; // A slightly darker shade for the hover state
      }
    }
  }
  