.email-details {
    font-family: Arial, sans-serif;
    margin: 20px;

    h2 {
        margin: 0;
        font-size: 24px;
        color: #202124;
    }
}

.email-from, .email-to, .email-time {
    margin: 5px 0;
    color: #5f6368;
}

.email-to-and-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-icon {
    cursor: pointer;
}

.email-body {
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
}
