.footer-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #181818;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid #282828;
    height: auto; // Adjusted for a potential increase in height due to the vertical layout

    .video-thumbnail {
        width: 80px; // Adjust as needed
        margin-right: 10px;
    }

    .video-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10px;
        .video-name {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .channel-name {
            font-size: 12px;
        }
    }

    .player-controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        .player-action-buttons {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;
        }

        .progress-section {
            display: flex;
            flex-direction: row;
            width: 100%;
            .current-time, .end-time {
                display: block; // Ensure they are on new lines
            }
            .slider {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }

    .volume-control {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        
        button {
            margin: 5px 0;
        }
      
        p {
            margin: 0;
        }
    }

    .youtube-container {
        position: absolute;
        left: -9999px; // Keep off-screen
        top: 0;
    }
}
