.footer-player {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: #181818;
    color: #fff;
    height: 100px;

    .video-info {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        align-items: center;
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        
        .thumbnail {
            grid-area: 1 / 1 / -1 / 2;
            width: 80px;
            margin-right: 10px;
        }

        .title-and-channel {
            grid-area: 1 / 2 / -1 / -1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 10px;
            overflow: hidden;
            > * {
                overflow: hidden;
                overflow-y: auto;
                white-space: nowrap; /* Prevents wrapping */
                display: -webkit-box;   
                -webkit-line-clamp: 1; /* number of lines to show */
                        line-clamp: 1; 
                -webkit-box-orient: vertical;
            }
            .video-name {
                font-size: 16px;
                margin-bottom: 5px;
            }

            .channel-name {
                font-size: 12px;
            }
        }

        .fade-out {
            grid-area: 1 / 2 / -1 / -1;
            justify-self: right;
            z-index: 99;
            width: 25px;
            height: 100%;
            background: linear-gradient(to right, rgba(24, 24, 24, 0), rgb(24, 24, 24) 100%);
        }
    }

    .player-controls {
        grid-column: 2;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        width: 100%;
        max-width: 722px;

        .player-action-buttons-container {
            display: grid;  
            grid-template-columns: auto minmax(auto, 300px) auto;
            justify-content: center;

            .player-action-buttons {
                display: flex;
                grid-column: 2;
                justify-content: space-between;
                // justify-content: flex-start;
                // margin-bottom: 10px;
                // gap: 1vh;
                // margin-left: 1vh;
                align-items: center;
                cursor: pointer;
    
                & > button {
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    // padding: 5px;
                    font-size: 32px;
                    position: relative;
                    // width: 32px;
                    // height: 32px;
            
                    &:hover {
                        &::after {
                            content: attr(name);
                            text-transform: capitalize; // Capitalize the title
                            color: white; // White text
                            background: rgba(0, 0, 0, 0.7); // Semi-transparent black background
                            border-radius: 5px; // Rounded corners for title box
                            position: absolute;
                            top: 100%; // Position the title box under the button
                            left: 50%;
                            transform: translateX(-50%);
                            padding: 5px 10px; // Adjust padding for better visuals
                            font-size: 12px;
                            white-space: nowrap;
                            z-index: 2; // Ensure title box is above the grey circle
                        }
            
                        // &::before {
                        //     content: '';
                        //     position: absolute;
                        //     top: 50%;
                        //     left: 50%;
                        //     transform: translate(-50%, -50%);
                        //     width: 100%; // Full width of the button
                        //     height: 100%; // Full height of the button
                        //     background-color: rgba(128, 128, 128, 0.5); // Semi-transparent grey circle
                        //     border-radius: 50%; // Make it a circle
                        //     z-index: 1; // Below the title box
                        // }
                    }
                }

                .shuffle{
                    font-size: 20px;
                }
                
                .previous{
                    font-size: 20px;
                }
    
                .play-pause {
                    border-radius: 50%;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    .action-button-wrapper {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for depth */
                  
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }  
    
                .next{
                    font-size: 20px;
                }
    
                .repeat{
                    font-size: 20px;
                }
            }
        }

        .progress-section {
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            width: 100%;

            .MuiSlider-root.MuiSlider-colorPrimary {
                color: white;
                transition: color 0.2s;
            }

            &:hover .MuiSlider-root.MuiSlider-colorPrimary {
                color: #1DB954;
            }

            .current-time {
                margin-right: 15px;
            }
            
            .end-time {
                margin-left: 15px;
                display: block;
            }

            .progress-slider {
                width: 100%;
                margin: 0 auto;

                .MuiSlider-rail {
                    background-color: grey;
                }

                .MuiSlider-track {
                    background-color: white;
                    transition: background-color 0.2s;
                }

                .MuiSlider-thumb {
                    background-color: white;
                    visibility: hidden;
                    transition: visibility 0.2s;
                    width: 14px;
                    height: 14px;
                    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
                }
                
                &:hover .MuiSlider-thumb {
                    visibility: visible;
                }

                &:hover .MuiSlider-track {
                    background-color: #1DB954;
                }
            }
        }
    }

    .volume-control {
        grid-column: 3;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;

        .mute{
            width: 20px;
        }

        .MuiSlider-root.MuiSlider-colorPrimary {
            color: white;
            transition: color 0.2s;
        }

        &:hover .MuiSlider-root.MuiSlider-colorPrimary {
            color: #1DB954;
        }

        .volume-slider {
            width: 90px;
            margin: 5px 0;
            margin-left: 15px;
            margin-right: 15px;

            .MuiSlider-rail {
                background-color: grey;
            }

            .MuiSlider-track {
                background-color: white;
                transition: background-color 0.2s;
            }

            .MuiSlider-thumb {
                background-color: white;
                visibility: hidden;
                transition: visibility 0.2s;
                width: 14px;
                height: 14px;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
            }

            &:hover .MuiSlider-thumb {
                visibility: visible;
            }

            &:hover .MuiSlider-track {
                background-color: #1DB954;
            }

        }

        p {
            margin: 0;
        }
    }

    .youtube-container {
        position: absolute;
        left: -9999px;
        top: 0;
    }
}

.action-button {
    background-color: #181818;
    color: white;
    border: none;
    position: relative;

    &:hover {
        &::after {
            content: attr(name);
            color: white;
            background: #404040;
            border-radius: 5px;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            padding: 5px 10px;
            font-size: 14px;
            font-weight: bold;
            white-space: nowrap;
            z-index: 2;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: 1;
        }
    }
}

