.index-container {
    display: grid;
    grid-template-columns: minmax(250px, auto) 8px minmax(auto, 1fr);
    grid-template-rows: 1fr auto;
    height: 100vh;
    padding: 8px;

    & .index-main {
        grid-column: -2 / -1;
        grid-row: 1 / 2;

        width: 100%;
        height: 100%;
        overflow-y: auto;
        border-radius: 8px;
        background-color: #121212;
        overflow-y: hidden;
    }

    & .index-side-resizer {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        display: grid;
        width: 100%;
        padding: 8px 0;
        cursor: col-resize; /* Set the cursor style for resizing */
        background-color: unset;

        & .resizer-line {
            justify-self: center;
            width: 0;
            background-color: #b3b3b3;

            &.unhide {
                width: 1px
            }
        }

        &:hover {
            & .resizer-line {
                width: 1px
            }
        }
    }

    & .index-side {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        gap: 8px;
        overflow-y: hidden;

        & > * {
            background-color: #121212;
            border-radius: 8px;
        }
    }

    & .index-footer-player {
        grid-column: 1 / -1;
        grid-row: -2 / -1;
    }
}
