.side-nav {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px;
    overflow-y: auto;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    height: 100vh;

    div {
        display: flex;
        justify-content: space-between;
        padding: 8px 12px;
        margin: 4px 0;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        color: grey;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            color: white;
        }
    }

    .active {
        background-color: #8080807f; 
        color: white;
        font-weight: bold;
    }

    .symbol {
        font-weight: bold;
        width: 40px;
        &::after {
            content: " "; /* Add a space as content */
            width: 5px; /* Adjust the space width as needed */
            display: inline-block;
        }
    
    }
}


  
