.side-nav {
    display: flex;
    flex-direction: column;
    background-color: #f1f3f4;
    padding: 10px;
    overflow-y: auto;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;

    div {
        display: flex;
        justify-content: space-between;
        padding: 8px 12px;
        margin: 4px 0;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        color: #202124;
        transition: background-color 0.3s;

        &:hover {
            background-color: #e8eaed;
        }
    }

    .active {
        background-color: #d2e3fc;
        font-weight: bold;
    }
}

.icon-style {
    margin-right: 10px;
}