.station-search {

    & .search-title {
        margin-top: 20px;
        font-size: x-large;
        font-weight: bold;
        letter-spacing: -1px;
    }
        
    & .search-bar-container {
        background-color: #333333;
        display: grid;
        grid-template-columns: auto 1fr auto;
        width: 364px;
        border: none;   
        padding: 2px;
        margin-top: 16px;
        border-radius: 4px;
        align-items: center;
    
        & .img-contaner {   
            margin-left: 8px;
            margin-right: 4px;
            width: 18px;
            height: 18px;

            & .search-img {
                // filter svg to b3b3b3
                filter: invert(71%) sepia(4%) saturate(67%) hue-rotate(314deg) brightness(105%) contrast(81%);
            }

            & .ex-img {
                // filter svg to #b3b3b3
                filter: invert(71%) sepia(4%) saturate(67%) hue-rotate(314deg) brightness(105%) contrast(81%);
            }
        }
    
        & .filter {
            margin: 3px;
            height: 27px;
        }
    }
    
    & .search-bar {
        background-color: unset;
        border: none;
        padding: 10px 0;
        color: white;
        text-indent: 4px;
    
        &:focus {
            outline: none;
        }
    }

    & .search-res {
        margin-top: 24px;

        & .station-search-track-layout {
            display: grid;
            grid-template-columns: 1fr 70px;
            grid-template-rows: auto;
            align-items: center;
            gap: 18px;
            padding-left: 7px;
            padding-right: 7px;
    
            &:hover {
                background-color: #333333;
            }
    
            &:hover .track-preview-img {
                filter: brightness(60%);
            }
    
            & .track-numder {
                grid-column: 1 / 2;
                grid-row: 1 / -1;
    
                justify-self: left;
                z-index: 999;
                margin-left: 17px;
            }
    
            & .track-preview-title {
                grid-column: 1 / 2;
                grid-row: 1 / -1;
            }
    
            & .track-preview-add {
                grid-column: 2 / -1;
                grid-row: 1 / 2;
                text-align: center;
                color: white;
                border-radius: 999px;
            }
        }
    }


}