.station-preview {
  aspect-ratio: 4 / 5;
  display: flex;
  flex-direction: column;
  // flex-shrink: 0;
  // max-height: 294px;
  // min-height: 256px;
  max-width: 212px;
  min-width: 172px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
  padding: 1.6vh;


  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #272727;

    .play-btn {
      opacity: 1;
      bottom: 20px;
    }
  }

  & .image-container {
    position: relative;
    aspect-ratio: 1 / 1;
    max-height: 164px;
    max-height: 164px;
    overflow: hidden;

    & .img {
      height: 135%;
      width: 135%;
      object-fit: cover; /* Options: fill, contain, cover, none, scale-down */
      border-radius: 10px;
      margin-top: -30px;
      margin-bottom: -30px;
    }
  }
  
  & .play-btn {
    position: absolute;
    bottom: 10px;
    right: 15px;
    transform: translate(15%, 15%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: #1db954;
    font-size: 50px;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, bottom 0.3s, right 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .station-info {
    padding: 8px 0;
    background: transparent;
    color: white;
    max-width: 100%;
    
    & > * {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
    }

    & .station-name {
      margin: 0;
      font-size: 16px;
    }
  
    & .creator-name {
      margin: 0;
      font-size: 14px;
      opacity: 0.7;
    }
  }
}


// hebrew font CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic"