
.track-preview {
    position: relative;

    &:hover {
        background-color: #404040;
    }

    & .track-preview-img {
        height: 50px;
        width: 50px;
        object-fit: cover;
    }

    & .track-preview-options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
    }

    & .btn-more {
        background-color: unset;
        border: 0;
        color: white;

    }

}